<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Productos con EJS</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body class="vh-100 d-flex justify-content-center align-items-center">
        <% if (products.length) { %>
            <table class="table table-dark table-hover text-center" style="max-width: 400px;">
                <thead class="table-dark">
                    <tr class="table-dark">
                        <th scope="col" class="table-dark align-middle">Nombre</th>
                        <th scope="col" class="table-dark align-middle">Precio</th>
                        <th scope="col" class="table-dark align-middle">Foto</th>
                    </tr>
                </thead>
                <tbody class="table-dark">
                    <% products.forEach(function(product) { %>
                        <tr class="table-dark">
                            <td class="table-dark align-middle"><%= product.title %></td>
                            <td class="table-dark align-middle"><%= product.price %></td>
                            <td class="table-dark align-middle">
                                <img 
                                    src="<%= product.thumbnail %>" 
                                    alt="<%= product.title %>" 
                                    style="width: 50px; height: 50px;"
                                />
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } else { %>
            <h1 class="text-center">No hay productos cargados</h1>
        <% }; %>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>
